<footer class="topnav">
    <div class="footer">
        <div class="container">
            Articles are not my own. This is an educational project.
            <a class="grey-text text-lighten-4 right" href="/articles-json">JSON</a>
        </div>
    </div>
</footer>