<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center">Welcome to Scrape</a>
        <ul class="right" id="nav-mobile">
            <il><a href="/scrape">Scrape</a></il>
            <il><a href="https://github.com/MarvinLara41/mongodb.git" target="blank">github</a></il>
        </ul>
    </div>
</nav>